body{
  background-color: #000000;
  padding: 0px;
  margin: 0px;
}

#gradient
{
 width: 100%;
 height: 850px;
 padding: 0px;
 margin: 0px;
}

#youwin-image{
  width: 500px;
  height: 400px;
}


#gameover-image{
  width: 500px;
  height: 400px;
}


#title-image{
  width: 1000px;
  height: 200px;
  opacity:.4;

}






.container { 
  text-align: center;
  
}
h1,h2,h3,
h4,h5,h6 {
  padding: 5px;
  background-color: rgba(101,155,242,.2);
}
#title-image, #gameover-image, #youwin-image{ 
  display: block;
  margin: 0 auto;
}

#currentWord {
  letter-spacing: 10px;
}

#pressKeyTryAgain, 
#gameover-image, 
#youwin-image { display: none;}
.gameplay-column {
  padding-top: 20px;
  border: 3px dashed #fff;
  text-align: center;
  margin-top: 20px;
  min-height: 500px;
  background-color: rgba(255, 255, 255, .3);
}